<div class="container mt-5">
  <h1 class="title text-center">你想對誰說幹話?</h1>
  <form action="/" method="post">
    <div class="d-flex select-career-section justify-content-between mt-5">
    
      <!--card-->
      <div class="card border-dark" style="width: 18rem;">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
          class="card-img-top" alt="工程師" style="height: 14rem;">
        <div class="card-body text-center">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="career" id="engineer">
            <label class="form-check-label" for="engineer">
              工程師
            </label>
          </div>
        </div>
      </div>
    
      <div class="card border-dark" style="width: 18rem;">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
          class="card-img-top" alt="設計家" style="height: 14rem;">
        <div class="card-body text-center">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="career" id="designer">
            <label class="form-check-label" for="designer">
              設計家
            </label>
          </div>
        </div>
      </div>
    
      <div class="card border-dark" style="width: 18rem;">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" class="card-img-top"
          alt="創業家" style="height: 14rem;">
        <div class="card-body text-center">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="career" id="founder">
            <label class="form-check-label" for="founder">
              創業家
            </label>
          </div>
        </div>
      </div>
    
    </div>
    <div class="d-flex generator-section mt-5 ">
    
      <input class="btn btn-primary align-self-center ml-3" type="submit" value="產生幹話" style="height:3rem;">
      <div class="show-direction flex-grow-1 ml-3">
        <div class="alert alert-light border-dark" role="alert" style="height: 100px">
          A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
        </div>
    
      </div>
    </div>

  </form>

</div>